.create-admin-card {
  margin: 50px auto;
  width: 30vw;
  min-width: 400px;
}

.create-admin-card mat-form-field {
  width: 100%;
}

.create-admin-card mat-card-actions button {
  width: calc(100% - 18px);
  margin: auto;
  display: block;
}

.create-admin-card mat-card-actions .register {
  margin: 10px;
}

.create-admin-card mat-card-actions .register div {
  display: inline-block;
  width: 50%;
}

.mat-card-title {
  font-size: 16px;
}

.customization-box {
  margin: 30px;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  height: 90%;

  .customization-header {
    position: absolute;
    top: 0px;
    left: 40px;
    font-size: 13px;
    background: whitesmoke;
    padding: 3px;
  }
  .customization-body {
    padding: 0 15px 15px 15px;
    margin-top: 15px;
    overflow-y: auto;
    max-height: 20vh;
  }
}

.diary-header {
  position: relative;
  margin: 0;
  top: 20px;
  left: 5%;
  width: fit-content;
}

.cover {
  width: 35%;
  height: 400px;
  margin: 10px;
  border: 1px solid;
  border-left: 5px solid;
  border-radius: 0 5px 5px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inside {
  width: 35%;
  height: 400px;
  margin-left: 10px;
  border: 1px solid;
}

.line {
  height: 2px;
  width: 100%;
  margin-top: 15px;
}

.cover-text {
  margin-top: 185px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.mat-form-field {
  width: 100%;
}

.diary-form {
  width: 100%;
  padding-right: 10%;
  text-align: center;
}
.checkout-btn {
  width: 100%;
  margin: auto;
  display: block;
}

.content-scroll {
  overflow-y: auto;
}