<header>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" class="logo"></a>
    <span class="example-spacer"></span>
    <a class="links side" [routerLink]="['/auth/login']" *ngIf="!user">Login</a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>{{user.fullname}}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin']">Customize Diary</button>
        <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin/manage']">Manage Users</button>
        <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin/create']">Create Admin</button>
        <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin/generate-report']">Generate Report</button>
        <button mat-menu-item *ngIf="user && !user.isAdmin" [routerLink]="['/customer']">Customize Diary</button>
        <button mat-menu-item *ngIf="user && !user.isAdmin" [routerLink]="['/customer/orders']" [queryParams]="{ email: user.email }">Order History</button>
        <button mat-menu-item (click)="logout()">logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
